[Unit]
Description=Solar System Status
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/pi/projects/solar/service.py

[Install]
WantedBy=multi-user.target
